@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-cyan: hsl(180, 52%, 96%);
  --filter-color: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
}

body {
  width: 100%;
  background-color: var(--bg-cyan);
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
}

.bg-header-mobile{
  height: 150px;
  margin-bottom: 30px;
}

.bg-header-mobile img{
  width: 100%;
  background-color: var(--desaturated-dark-cyan);
}

.bg-header-desktop, .filter-tab{
  display: none;
}


.job-listings-container{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin: 60px 0px 20px; 
}

.job-listing{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: #fff;
  border-radius: 5px;
  border-left: 5px solid var(--desaturated-dark-cyan);
  box-shadow: 5px 5px 40px #d7e1e1,-5px -5px 40px #ffffff;
  margin: 0px 20px;
}

.company-logo{
  position: relative;
  top: -28px;
  right: -20px;
}

.company-logo img{
  width: 50px;
  height: 50px;
}

.company-details, .position-title, .position-details, .categories, hr {
  margin: 0px 20px;
}

.company-name-position-details, .categories, hr{
  position: relative;
  top: -35px;
}

.company-name-position-details{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.company-details{
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.company-name{
  color: var(--desaturated-dark-cyan);
  font-weight: 700;
  margin-right: 15px;
}

.new, .featured{
  color: white;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
  padding: 6px;
}

.new{
  width: 45px;
  background-color: var(--desaturated-dark-cyan);
}

.featured{
  width: 70px;
  background-color: black;
}

.position-title{
  font-weight: 700;
}

.position-details{
  display: flex;
  color: grey;
  column-gap: 10px;
}

hr.solid{
  border-top: 1px solid grey;
  margin: 8px 20px;
}

.categories{ 
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;
}

.categories button{
  background-color: var(--bg-cyan);
  color: var(--desaturated-dark-cyan);
  font-weight: 700;
  font-size: 15px;
  padding: 8px;
  border: none;
}

@media (min-width: 1024px) {
  
  .bg-header-mobile{
    display: none;
  }

  .bg-header-desktop{
    display: block;
  }

  .bg-header-desktop img{
    width: 100%;
    background-color: var(--desaturated-dark-cyan);
  }

  hr{
    display: none;
  }

  .filter-tab{
    display: none;
    align-items: center;
    background-color: white;
    height: 50px;
    width: 944px;
    margin: 0px auto;
    border-radius: 3px;
    position: relative;
    top: -27px;
  }

  .filtered-catergories{
    display: flex;
    column-gap: 10px;
    margin-left: 50px;
  }

  .filtered-category{
    display: flex;
  }

  .filtered{
    height: 23px;
    background-color: var(--filter-color);
    color: var(--desaturated-dark-cyan);
    font-size: 13px;
    font-weight: 700;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 6px 8px;
  }

  .remove-icon{
    width: 23px;
    height: 23px;
    background-color: var(--desaturated-dark-cyan);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .remove-icon:hover{
    background-color: black;
  }

  .remove-icon img{
    width: 50%;
  }

  .clear{
    color: var(--desaturated-dark-cyan);
    font-size: 12px;
    margin-left: auto;
    margin-right: 40px;
    cursor: pointer;
  }

  .clear:hover{
    text-decoration: underline;
  }

  .job-listings-container{
    margin: 60px 20px 0px;
  }

  .job-listing{
    flex-direction: row;
    align-items: center;
    height: 150px;
    column-gap: 15px;
  }

  .company-logo{
    position: static;
    margin-left: 30px;
  }

  .company-logo img{
    width: 80px;
    height: 80px;
  }

  .company-name-position-details, .categories{
    position: static;
  }

  .company-name-position-details{
    row-gap: 10px;
  }

  .company-name{
    margin-right: 0px;
  }

  .position-title{
    font-size: 19px;
    cursor: pointer;
  }

  .position-title:hover{
    color: var(--desaturated-dark-cyan)
  }

  .categories{
    margin-left: auto;
    margin-right: 40px;
  }

  .categories button{
    display: flex;
    align-items: center;
    height: 25px;
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .categories button:hover{
    color: white;
    background-color: var(--desaturated-dark-cyan);
  }

}

@media (min-width: 1440px){
  .filter-tab{
    width: 1050px;
  }

  .job-listings-container{
    width: 1090px;
    margin: 60px auto;
  }

  .new, .featured{
    font-size: 10px;
  }
}
